@media( max-width: 1140px ){

	#main .page .widget_slider.size_small .slider .a_row .slider_item {
		width: calc( ( 100vw - 285px - ( 3 * 10px ) ) / 3 );
	}
	#main .page .widget_slider .slider .a_row .slider_item,
	#main .page .widget_slider.widget_artist_slider .slider .a_row .slider_item,
	#main .page .widget_slider.widget_user_slider .slider .a_row .slider_item {
		width: calc( ( 100vw - 290px - ( 5 * 10px ) ) / 5 );
	}

}

@media( max-width: 1023px ){

	body.uap {
		padding: 0;
		padding-top: 140px;
		text-align: center
	}
	body.uap:before {
		display: none;
	}
	body.uap .logo {
		left: 0;
		bottom: auto;
		top: 30px;
		opacity: 0.6;
	}
	body.uap #form_holder {
		right: auto;
		left: auto;
		max-width: calc( 100% - 40px );
		top: 0;
		width: 420px;
		min-width: auto;
		box-sizing: border-box;
		background: rgba(255,255,255,0.01);
		border: 1px solid rgba(255,255,255,0.05);
		padding: 30px;
		margin: 30px 20px;
		border-radius: 12px;
		position: relative;
		display: inline-block;
		text-align: left;
	}
	body.uap .watermark {
		right: 20px;
		left: 20px;
		max-width: none;
		width: auto;
	}

	#main #results .items .item {
		width: calc( 25% - 20px );
	}

	#main #waveform {
		display: none;
	}

	#main .page_head.track.has_wave {
		padding-bottom: 0;
	}

	#main .page_head.track .t_wrapper {
		padding: 0;
	}
	#main .page_head.track .cover {
		position: relative;
		margin: 0 auto 20px;
	}
	#main .page_head.track .play_buttons.buttons {
		text-align: center;
	}
	#main .page_head.track .data_wrapper {
		text-align: center;
	}
	#main .page_head.track .data_wrapper .others > div {
		float: none;
		display: inline-block;
	}
	#main .page_head.track .data_wrapper .others div.artist {
		display: block;
		margin: 20px 0;
	}
	#main .page_head.track .data_wrapper .others {
		max-width: 500px;
		margin: auto;
	}
	#main .page_head.album .t_wrapper .cover_wrapper {
		width: 200px;
		margin: 0 auto 20px;
		display: block;
		float: none;
	}
	#main .page_head.album .t_wrapper .data_wrapper {}
		#main .page_head.album .t_wrapper .data_wrapper {
			position: relative;
			top: auto;
			left: auto;
			right: auto;
			bottom: auto;
			text-align: center;
			width: 100%;
		}
		#main .page_head.album .t_wrapper .data_wrapper .artist {
			float: none;
			display: inline-block;
		}
		#main .page_head.album .t_wrapper .data_wrapper .genre_time {
			float: none;
		}
		#main .page_head.album .t_wrapper .data_wrapper .genre_time > div {
			float: none;
			display: inline-block;
			opacity: 0.5;
			font-weight: 300;
		}
		#main .page_head.album .t_wrapper .data_wrapper .genre_time div._genre:before {
			display: none;
		}

		.edit .album {
			padding: 0;
		}

		.edit .album .cover_wrapper {
			position: static;
			margin-bottom: 20px;
		}

		.edit .album .cover_wrapper .detail {
			position: absolute;
			top: 0;
			left: 220px;
		}

		.edit .album .data_wrapper h2 {
			position: absolute;
			top: 40px;
			left: 220px;
		}

	}

@media( max-width: 960px ){

	#main .page .widget_slider.size_large .slider .a_row .slider_item {
		width: calc( ( 100vw - 285px - ( 2 * 10px ) ) / 2 );
	}
	#main .page .widget_slider.size_small .slider .a_row .slider_item {
		width: calc( ( 100vw - 285px - ( 2 * 10px ) ) / 2 );
	}
	#main .page .widget_slider .slider .a_row .slider_item,
	#main .page .widget_slider.widget_artist_slider .slider .a_row .slider_item,
	#main .page .widget_slider.widget_user_slider .slider .a_row .slider_item {
		width: calc( ( 100vw - 290px - ( 3 * 10px ) ) / 3 );
	}

	#main #results .items .item {
		padding: 10px;
		margin: 5px;
		width: calc( 25% - 10px );
	}
	#main .page .widget_slider .slider .a_row .slider_item {
		padding: 15px;
	}
	#main #results .items .item .image {
		margin-bottom: 10px;
	}

}

@media( max-width: 768px ){

	body:after,
	#uploader,
	#nav,
	#que_list,
	body .pager_wrapper,
	#player .song_data .p_w {
		left: 0;
		right: 0
	}

	#nav .buttons .button.menu_handle {
		display: block
	}

	.watermark {
		left: 0;
	}
	#sidebar {
		left: -100%;
	}

	#player .song_data .artist_detail {
		display: none;
	}
	#player .song_data {
		padding-left: 0;
		margin-left: -10px;
	}

	#main {
		padding: 0 20px 20px 20px;
	}
	div#scroller {
		margin: auto -20px auto -20px;
		padding: 68px 20px 20px 20px;
	}
	div#scroller::-webkit-scrollbar {
		width: 7px;
	}
	#scroller .footer_wrapper {
		padding-bottom: 10px;
	}
	#main .page .widget_slider.size_large .slider .a_row .slider_item {
		width: calc( ( 100vw - 55px - ( 2 * 10px ) ) / 2 );
	}
	#main .page .widget_slider.size_small .slider .a_row .slider_item {
		width: calc( ( 100vw - 55px - ( 2 * 10px ) ) / 2 );
	}
	#main .page .widget_slider .slider .a_row .slider_item,
	#main .page .widget_slider.widget_artist_slider .slider .a_row .slider_item,
	#main .page .widget_slider.widget_user_slider .slider .a_row .slider_item {
		width: calc( ( 100vw - 55px - ( 3 * 10px ) ) / 3 );
	}
	#main .page .widget_slider.noslide.size_large .slider .a_row .slider_item {
		width: calc( ( 100vw - 40px - ( 2 * 10px ) ) / 2 );
	}
	#main .page .widget_slider.noslide.size_small .slider .a_row .slider_item {
		width: calc( ( 100vw - 40px - ( 2 * 10px ) ) / 2 );
	}
	#main .page .widget_slider.noslide .slider .a_row .slider_item,
	#main .page .widget_slider.noslide.widget_artist_slider .slider .a_row .slider_item {
		width: calc( ( 100vw - 40px - ( 3 * 10px ) ) / 3 );
	}

	#main .page .widget_table .table_wrapper {
		overflow: auto;
		overflow-x: auto;
		overflow-y: visible !important;
	}

	#main #side {
		padding-top: 30px;
	}

	#main .plans .plan.normal {
		display: none
	}
	#main .plans .plan {
		max-width: 95%;
	}

	#main #artist .side .name {
		font-size: 26pt;
	}
	#main .page_head.track .data_wrapper .title {
		font-size: 26pt;
	}
	#main .page_head.track .cover {
		width: 200px;
	}
	#main .page_head.album .t_wrapper .data_wrapper .title {
		font-size: 26pt;
	}
	#main #user_nav .user_nav_wrapper .avatar {
		width: 100px;
		height: 100px;
		margin: auto;
	}
	#main #user_nav .user_nav_wrapper {
		padding: 80px 0 20px;
		text-align: center;
		min-height: auto;
	}
	#main #user_nav .user_nav_wrapper .buttons .btn {
		font-size: 9pt;
		padding: 4px 17px;
	}
	#main #user_nav .user_nav_wrapper .bg_wrapper {
		top: -100px;
		height: calc( 100% + 170px )
	}
	#main #user_nav .user_nav_wrapper .bg_wrapper img {
		width: auto;
		height: auto;
		min-width: 100%;
		min-height: 120%;
		max-width: none;
		max-height: none;
		display: block;
	}
	#main .bg_wrapper {
		left: -20px !important;
		right: -20px !important;
	}
	#main .user_container #user_sidebar {
		margin-right: -20px;
		margin-left: -20px;
		padding-right: 20px;
		padding-left: 20px;
	}
	#main .user_container #user_content .playlists .playlist {
		padding: 0;
	}
	#main .user_container #user_content .playlists .playlist .playlist_cover {
		display: none;
	}
	#main .user_container #user_content .acts .track .track_wrapper {
		padding: 10px;
		padding-left: 84px;
	}
	#main .user_container #user_content .acts .track .track_wrapper .cover {
		top: 10px;
		left: 10px;
	}
	.active_muse .yt_wrapper.active {
		opacity: 0;
		visibility: hidden
	}
	.active_muse.active_muse_video #player .song_data .song_detail .playlist_buttons .yt_handler {
		display: block;
	}
	.active_muse.active_muse_video #player .song_data .song_detail .playlist_buttons .like_dom {
		display: none
	}
	.active_muse.active_muse_video.active_yt .yt_wrapper {
		bottom: 70px;
		top: 0;
		right: 20px;
		left: 20px;
		margin: auto;
		width: calc( 100vw - 40px );
		height: calc( 100vw - 40px );
		max-height: calc( 100vh - 120px );
		z-index: 98;
		opacity: 1;
		visibility: visible
	}
	.active_muse.active_muse_video.active_yt .yt_wrapper iframe {
		width: 100%;
		height: 100%;
	}
	.active_muse.active_muse_video.active_yt .yt_wrapper:after {
		background: #222629;
		position: fixed;
		top: 0;
		bottom: 70px;
		right: 0;
		left: 0;
		content: "";
		display: block;
		z-index: -1;
	}

	.edit .album .data_wrapper .tracks {
		overflow: auto
	}
	.edit .album .data_wrapper .tracks table {
		width: 700px !important;
	}

	#main #track_data .comments .comment.depth-2 {
		margin-left: 40px;
	}
	#main #track_data .comments .comment.depth-3 {
		margin-left: 80px;
	}

	.apl_wrapper {
		bottom: 0;
		right: 0;
		left: 0;
		height: 69px;
		margin: auto;
	}

}

@media( max-width: 540px ){

	.sos {
		display: block !important
	}
	body #nav {
		height: 65px;
		opacity: 0 !important;
		visibility: hidden !important;
		background: transparent !important;
	}
	body #nav.attached {
		opacity: 1 !important;
		visibility: visible !important
	}
	#nav .container {
		height: 100%;
	}
	#nav .container > div.logo {
		display: block;
	}
	#nav .container > div {
		display: none;
	}
	#nav .logo {
		height: 100%;
		padding: 20px 20px 0;
		display: block;
	}
	#nav .logo img {
		max-height: 100%;
		opacity: 0.8
	}
	#nav .buttons.opp {
		display: block;
		position: absolute;
		right: 40px;
		top: 12px;
		bottom: 0;
		margin: auto;
		height: fit-content;
	}
	#nav .container .buttons.nots {
		display: block;
		position: absolute;
		top: 18px;
		right: 66px;
		margin: 0;
	}
	#nav .buttons .button.menu_handle {
		display: none
	}
	#sidebar {
		bottom: 0;
		right: 0;
		left: 0;
		width: 100%;
		top: auto;
		height: 50px;
		overflow: hidden;
		transition: 200ms ease-in bottom
	}
	#sidebar #logo {
		display: none;
	}
	#sidebar ul.menu_wrapper {
		height: auto !important;
	}
	#sidebar ul.menu_wrapper li.p {
		width: 20%;
		float: left;
		margin: 0 !important;
		text-align: center;
		padding: 10px 5px;
		position: relative;
		height: 50px;
	}
	#sidebar ul.menu_wrapper li.p:after {
		content: "";
		display: block;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background: black;
		opacity: 0;
	}
	#sidebar ul.menu_wrapper li.p:nth-child(n+4):not(.sos) {
		display: none;
	}
	#sidebar ul.menu_wrapper li.p > a {
		font-size: 8pt;
		font-weight: 600;
		letter-spacing: 0;
		opacity: 0.8;
		text-transform: capitalize;
		white-space: nowrap;
		padding: 0;
		text-align: center;
		margin-top: 5px;
		overflow: hidden;
		background: transparent;
		border: none;
		color: inherit;
		display: none
	}
	#sidebar ul.menu_wrapper li.p > .mdi {
		display: inline-block !important;
		top: 0;
		bottom: auto;
		font-size: 22pt;
		position: relative;
		margin: auto;
		right: auto;
		left: auto;
		opacity: 0.6;
		line-height: 1;
	}
	#sidebar ul.menu_wrapper li ul {
		display: none;
	}
	#sidebar ul.menu_wrapper li ul li.divider {
		display: none
	}
	#sidebar ul.menu_wrapper li ul {
		background: #222629;
		border-bottom: 1px solid rgb(255 255 255 / 08%);
		right: 0;
		left: 0;
		bottom: 50px;
		top: 0;
		position: fixed !important;
		display: block;
		opacity: 0;
		visibility: hidden;
		transition: 200ms ease-in all;
		overflow: auto;
		width: auto;
		box-shadow: none
	}
	#sidebar ul.menu_wrapper li ul li a {
		text-align: left;
		font-size: 10pt;
		padding: 20px 20px 20px 60px;
		margin: 0;
		background: transparent;
		border: none;
		border-bottom: 2px solid rgba(255,255,255,0.06);
		color: #fff;
	}
	#sidebar ul.menu_wrapper li ul li:last-child a {
		border-bottom: none
	}
	#sidebar ul.menu_wrapper li ul li .mdi {
		font-size: 17pt;
	}
	#sidebar ul.menu_wrapper li.p .mdi-chevron-down {
		display: none;
	}
	#sidebar ul.menu_wrapper li.p.account.has_user .user_name {
		display: none !important;
	}
	#sidebar ul.menu_wrapper li.shown ul{
		opacity: 1;
		visibility: visible;
		display: block !important
	}
	#sidebar ul.menu_wrapper li.p.account.has_user > * {
		display: block !important
	}
	#sidebar ul.menu_wrapper li.p.shown > a:after {
		content: "";
		display: block;
		width: 5px;
		height: 5px;
		border-radius: 50%;
		position: absolute;
		right: 0;
		left: 0;
		margin: auto;
		bottom: 4px;
	}
	#sidebar ul.menu_wrapper li.p.shown > .mdi {
		opacity: 1
	}
	#sidebar ul.menu_wrapper li.p.account.shown .avatar {
		border-color: rgba( 255, 255, 255, 1 );
	}
	#sidebar ul.menu_wrapper li.p.account .avatar {
		width: 31px;
		height: 31px;
		margin: auto;
		border: 1px solid transparent;
		border-radius: 50%;
	}
	#sidebar ul.menu_wrapper li.p.account .avatar img {
		border-radius: 50%;
	}

	#main .page .widget_slider.size_large .slider .a_row .slider_item {
		width: calc( ( 100vw - 55px - ( 1 * 10px ) ) / 1 );
	}
	#main .page .widget_slider.size_small .slider .a_row .slider_item {
		width: calc( ( 100vw - 55px - ( 1 * 10px ) ) / 1 );
	}
	#main .page .widget_slider .slider .a_row .slider_item,
	#main .page .widget_slider.widget_artist_slider .slider .a_row .slider_item,
	#main .page .widget_slider.widget_user_slider .slider .a_row .slider_item {
		width: calc( ( 100vw - 55px - ( 2 * 10px ) ) / 2 );
	}
	#main .page .widget_slider.noslide.size_large .slider .a_row .slider_item {
		width: calc( ( 100vw - 40px - ( 1 * 10px ) ) / 1 );
	}
	#main .page .widget_slider.noslide.size_small .slider .a_row .slider_item {
		width: calc( ( 100vw - 40px - ( 1 * 10px ) ) / 1 );
	}
	#main .page .widget_slider.noslide .slider .a_row .slider_item,
	#main .page .widget_slider.noslide.widget_artist_slider .slider .a_row .slider_item {
		width: calc( ( 100vw - 40px - ( 2 * 10px ) ) / 2 );
	}

	div#scroller::-webkit-scrollbar {
		width: 6px;
	}
	#main .bg_wrapper {
		top: -110px !important;
		height: calc( 100% + 110px ) !important;
		background-position: center center;
		background-size: cover;
		filter: blur(5px);
		border-bottom: none !important;
		max-height: none
	}
	#main .bg_wrapper img {
		display: none !important
	}
	#main #user_nav .user_nav_wrapper .bg_wrapper {
		height: calc( 100% + 180px ) !important;
	}

	#main #user_nav .user_nav_wrapper .name .links {
		display: block;
	}

	#main .page_head.album .bg_wrapper {
		height: calc( 100% + 140px ) !important;
	}

	#player {
		bottom: -100%;
		border-bottom: 1px solid rgba( 255, 255, 255, 0.04 );
	}
	#player .song_data {
		padding: 0;
	}
	#player .song_data .artist_detail {
		display: none;
	}
	#player .song_data .song_detail {
		width: 100%;
		height: 70px;
		padding: 0 110px;
		text-align: center;
	}
	#player .song_data .song_detail .song_title {
		font-size: 10pt;
		font-weight: 400;
	}
	#player .song_data .song_detail .cover {
		display: none;
	}
	#player .song_data .song_detail .playlist_buttons {
		right: 10px
	}
	#player .song_data .song_detail .playlist_buttons span.mdi {
		opacity: 0.4;
	}
	#player .song_data .times {
		display: none;
	}
	#player .song_data .control_secondary_buttons {
		display: none;
	}
	#player .song_data .control_buttons {
		position: absolute;
		z-index: 3;
		line-height: 32px;
		top: 18px;
		right: auto;
		left: 10px;
		padding: 0;
		width: auto;
	}
	#player .song_data .control_buttons span.mdi {
		font-size: 28pt;
	}
	#player .song_data .control_buttons > div {
		margin: 0;
	}
	#player .song_data .control_buttons .prev {
		display: none
	}
	#player .song_data .control_buttons .next {
		margin-left: 10px;
	}
	#player .song_data .control_buttons .next .mdi {
		font-size: 20pt;
		opacity: 0.5
	}

	.apl_wrapper {
		bottom: 51px;
		right: 0;
		left: auto;
		height: 69px;
	}

	#que_list .que_wrapper {
		padding: 40px 10px 10px;
	}
	#que_list .que_buttons_wrapper {
		right: 10px;
		left: 10px;
		padding-top: 10px;
	}
	#que_list .que_buttons_wrapper .button {
		background: rgba(255,255,255,0.06);
		border: 1px solid rgba(255,255,255,0.08);
		font-size: 11pt;
	}
	#que_list .que_tracks_wrapper .track {
		padding: 0 90px 0 70px;
	}
	#que_list .que_tracks_wrapper .track .data_wrapper .artist_album .artist:after {
		display: none;
	}
	#que_list .que_tracks_wrapper .track .data_wrapper .artist_album .album {
		display: none;
	}
	#que_list .que_tracks_wrapper .track .buttons .button {
		background: rgba(255,255,255,0.06);
	}
	#que_list .que_tracks_wrapper .track .buttons {
		right: 0;
	}
	#que_list .que_tracks_wrapper .track .duration {
		display: none;
	}

	body.active_muse .watermark {
		bottom: 140px;
	}
	.watermark {
		bottom: 85px;
		left: 20px;
		right: 20px;
	}

	#main {
		padding-bottom: 70px;
	}
	body.uap #form_holder {
		background: transparent;
		padding: 0;
		border: none
	}
	body.active_muse #main {
		padding-bottom: 140px;
	}
	body.active_muse:after,
	body.active_muse #que_list,
	body.active_muse #sidebar ul.menu_wrapper li ul,
	body.active_muse #uploader {
		bottom: 120px;
	}
	body.active_muse #player {
		bottom: 50px;
	}
	body.active_muse #sidebar {
		bottom: 0;
	}
	div#scroller {
		height: calc( 100vh - 50px );
		padding-top: 100px;
	}
	body.active_muse div#scroller {
		height: calc( 100vh - 120px );
	}
	body.search_open:after {
		bottom: 50px;
		opacity: 1;
		border-bottom: 1px solid rgba(255,255,255,0.1);
	}
	body.search_open.active_muse:after {
		bottom: 120px;
	}
	#que_list .que_tracks_wrapper {
		height: calc( 100vh - 190px );
	}

	div.search_open {
		position: fixed;
		top: 20px;
		z-index: 111;
		right: 20px;
		left: 20px;
		bottom: 50px;
		height: fit-content;
		margin: auto;
	}
	div.search_open .cross {
		position: absolute;
		top: -100%;
		right: 0;
		left: 0;
		margin: auto;
		text-align: center;
		font-size: 20pt;
		opacity: 0.3;
	}
	div.search_open .button.search .search_box_wrapper {
		background: #000;
		border-radius: 32px;
	}
	div.search_open .button.search .search_box_wrapper .form-control {
		height: 50px;
		background: transparent;
		border: none;
		font-size: 10pt;
		font-weight: 600;
		color: #fff;
		padding: .375rem 30px;
	}
	div.search_open .button.search .search_box_wrapper .form-control::placeholder {
		color: #ffffff80
	}
	div.search_open .button.search .mdi {
		position: absolute;
		right: 3px;
		top: 3px;
		bottom: 3px;
		height: 44px;
		width: 44px;
		border-radius: 50%;
		background: #fff;
		color: #000;
		text-align: center;
		line-height: 46px;
		font-size: 20pt;
	}

	#main #artist .side .play_buttons.buttons .dropdown-menu {
		right: 0;
		left: auto;
	}

	#main #results .items .item {
		width: calc( 50% - 10px );
	}
	#main .page .widget_slider .slider .a_row .slider_item {
		padding: 10px;
	}

	#main .user_container #user_content.us .user_setting_widget ul li a {
		font-size: 13pt;
		padding: 10px;
	}

	#main .page_head.album .bg_wrapper {
		top: -100px;
	}

	#main .play_buttons.buttons .button_more ul.dropdown-menu {
		right: -90%;
		left: auto
	}

	body.uap #form_holder .form_wrapper {
		margin-bottom: 20px;
	}

	.active_muse.active_muse_video.active_yt .yt_wrapper,
	.active_muse.active_muse_video.active_yt .yt_wrapper:after {
		bottom: 120px;
	}

	.edit .album .data_wrapper h2 {
		position: static;
		text-align: center;
		margin: 15px 0
	}
	.edit .album .cover_wrapper .detail {
		position: static;
	}
	.edit .album .cover_wrapper {
		margin: auto;
	}
	.modal.type2 .share_content {
		padding: 0
	}
	.modal.type2 .share_content .image_wrapper {
		position: static;
		margin: auto;
		text-align: center;
		display: block;
		margin: 30px auto;
	}
	.modal.type2 .inputs .input {
		padding: 0;
	}
	.modal.type2 .inputs .input label {
		position: static;
		margin-bottom: 10px;
		text-align: inherit;
		margin-top: 20px;
	}
	.modal.type2.add_fund.add_fund_main ._c_ws ._c_w {
		width: calc( 100% - 20px) !important;
		margin-bottom: 10px;
	}
	.modal.type2.add_fund.add_fund_main ._c_ws ._c_w:last-child {
		margin-bottom: 0;
	}
	.modal.type2 .groups .btn-group button {
		font-size: 9pt;
	}
	.modal.type2 .groups .btn-group {
		margin: 0 -15px;
		width: calc( 100% + 30px );
	}
	.alert-info {
		padding: 15px 20px;
		font-weight: 400;
		font-size: 10pt;
		margin-top: 0 !important
	}
	#uploader {
		position: relative;
		margin: 0;
		padding: 20px;
		max-width: 100%;
		margin-bottom: 40px;
		top: 25px;
		bottom: 0;
	}
	.edit .album .data_wrapper .subline {
		padding-right: 50px;
	}
	#main #side .tabs .tab {
		width: 120px;
	}
	#main .user_container #user_content .acts .track .track_wrapper .title {
		font-size: 11pt;
		font-weight: 400;
		line-height: 1.2;
	}
	#scroller .footer_wrapper .socs {
		display: none;
	}

}

@media( max-width: 300px ){

	#main .page .widget_slider .slider .a_row .slider_item,
	#main .page .widget_slider.widget_artist_slider .slider .a_row .slider_item,
	#main .page .widget_slider.widget_user_slider .slider .a_row .slider_item {
		width: calc( ( 100vw - 30px - ( 1 * 10px ) ) / 1 );
	}

}
@media( min-width: 1370px ){

	#main .page_head.track.has_wave {
		padding-bottom: 0
	}
	#main .page_head.track.has_wave .t_wrapper {
		padding-bottom: 265px;
		min-height: 0
	}
	#main .page_head.track.has_wave .data_wrapper {
		margin-left: -270px;
	}
	#main .page_head.track.has_wave .play_buttons.buttons {
		position: absolute;
		bottom: 140px;
		margin-bottom: 0
	}
	#main #waveform {
		position: absolute;
		bottom: 35px;
		max-width: calc( 100% - 270px );
		margin: 0;
		left: auto;
		right: auto;
		width: auto;
		padding-bottom: 0;
	}

}
@media( min-width: 1470px ){

	#main .page .widget_slider.size_large .slider .a_row .slider_item {
		width: calc( ( 100vw - 285px - ( 4 * 10px ) ) / 4 );
	}
	#main .page .widget_slider.size_small .slider .a_row .slider_item {
		width: calc( ( 100vw - 285px - ( 5 * 10px ) ) / 5 );
	}
	#main .page .widget_slider .slider .a_row .slider_item,
	#main .page .widget_slider.widget_artist_slider .slider .a_row .slider_item,
	#main .page .widget_slider.widget_user_slider .slider .a_row .slider_item {
		width: calc( ( 100vw - 290px - ( 8 * 10px ) ) / 8 );
	}

}

@media( max-height: 750px ){

	#main .page .widget_slider.widget_genre_slider .slider .a_row .slider_item {
		height:  15vh;
		line-height: 15vh
	}
	#main .page .widget_list .listing .track {
		height: 16vh
	}

}
@media( max-height: 500px ){

	#main .page .widget_slider.widget_genre_slider .slider .a_row .slider_item {
		height:  25vh;
		line-height: 25vh
	}
	#main .page .widget_list .listing .track {
		height: 26vh
	}
	#uploader {
		position: relative;
		margin: 0;
		padding: 20px;
		max-width: 100%;
		margin-bottom: 40px;
		top: 25px;
		bottom: 0;
	}

}
