#sidebar,
.yt_wrapper {
    left: auto;
    right: 0;
}

#player .song_data .p_w,
.watermark,
#nav,
body:after,
#que_list,
body .pager_wrapper,
#uploader {
    left: 0;
    right: 230px;
}

body.rtl {
    text-align: right;
    direction: rtl;
}

#main {
    padding-right: 260px;
    padding-left: 30px;
}

#sidebar ul li .mdi {
    right: 16px;
    left: auto;
}

#sidebar ul li a {
    padding-right: 45px;
    padding-left: 16px;
}

ul.a_dropdown.a_m_dropdown li {
    text-align: right;
    direction: rtl;
}

ul.a_dropdown.a_m_dropdown li .mdi {
    margin-right: 0;
    margin-left: 10px;
}

.button_more .dropdown-menu {
    right: 0;
    left: auto;
}

#main .page .widget .title .mdi-chevron-right {
    transform: rotate(180deg);
    display: inline-block;
    bottom: -4px;
}

#player .song_data {
    padding-left: 0;
    padding-right: 230px;
}

#player .song_data .artist_detail {
    right: 0;
    left: auto;
    padding-left: 0;
    padding-right: 80px;
}

#player .song_data .artist_detail .artist_cover {
    right: 0;
    left: auto;
    float: right;
}

#player .song_data .artist_detail .artist_title {
    float: right;
}

#player .song_data {
}

#player .song_data > div {
    float: right;
}

#player .song_data .song_detail {
    padding-right: 0;
    padding-left: 80px;
}

#player .song_data .song_detail .cover {
    float: right;
    margin-right: 0;
    margin-left: 15px;
}

#player .song_data .song_detail .playlist_buttons {
    float: right;
    right: auto;
    left: 0;
}

#player .song_data .times {
    width: 45px;
}

#sidebar #logo {
    padding-right: 15px;
    padding-left: 60px;
}

#main #artist .side ul.artist_links li span.mdi {
    margin-right: 0;
    margin-left: 5px;
}

#main .page .widget_slider .slider {
	direction: ltr
}

#main .page .widget_slider.noslide .slider .a_row .slider_item {
    float: right;
	direction: rtl
}

#main .page_head.album .t_wrapper .cover_wrapper {
    float: right;
    margin: 0;
    margin-left: 20px;
}

#main .page_head.album .t_wrapper .data_wrapper {
    left: auto;
    right: 300px;
}

#main .page_head.album .t_wrapper .data_wrapper .artist {
    float: right;
}

#main .page_head.album .t_wrapper .data_wrapper .genre_time {
    float: right;
}

#main .page_head.album .t_wrapper .data_wrapper .genre_time > div:before {
    float: right;
}

#main .page_head.album .t_wrapper .data_wrapper .artist a {
    margin-right: 10px;
    margin-left: 0;
}

#main .page .widget_table .table_wrapper table tbody tr td.col-btn ul.buttons {
    right: auto;
    left: 40px;
}

#main .page_head.track .cover {
    right: 0;
    left: auto;
}

#main .page_head.track .t_wrapper {
    padding-left: 0;
    padding-right: 270px;
}

#main .page_head.track .data_wrapper .others > div {
    float: right;
    margin-right: 0;
    margin-left: 20px;
}

#main .page_head.track .data_wrapper .artist img {
    margin-right: 0;
    margin-left: 6px;
}

#main .page_head.track .data_wrapper .artists_featured .artist_featured a img {
    margin-right: 0;
    margin-left: 6px;
}

#main .page_head.track .data_wrapper .artists_featured .artist_featured {
    margin-right: 20px;
    margin-left: 0;
}

#main #track_data .add_comment {
    padding-left: 20px;
    padding-right: 100px;
}

#main #track_data .add_comment .avatar {
    right: 0;
    left: auto;
}

#main #track_data .container > .buttons .button {
    float: right;
}

#main #track_data .container > .buttons .stats .stat {
    float: left;
}

#main .track_sidebar .side_widget .title .mdi {
    margin-right: 0;
    margin-left: 10px;
}

#main #track_data .comments .title .mdi {
    margin-right: 0;
    margin-left: 10px;
}

#main #track_data .comments .comment .time {
    margin-right: 5px;
}

#main #track_data .comments .comment {
    padding-right: 35px;
    padding-left: 20px;
    margin-left: 0;
    margin-right: 30px;
}

#main #track_data .comments .comment .avatar {
    left: auto;
    right: -25px;
}

#main #track_data .comments.owner_comment .comment .avatar {
    left: auto;
    right: -35px;
}

#main #track_data .comments.owner_comment .comment {
    padding-left: 20px;
    padding-right: 50px;
}

#main #track_data .comments .comment .buttons {
    text-align: left;
}

#main .track_sidebar .side_widget .content.user_list .user {
    float: right;
}

#nav .buttons .button.search.opened > .mdi {
    right: auto;
    left: 2px;
}

#nav .buttons .button.search .search_box_wrapper .form-control {
    padding-right: 15px;
}

#main #results .items .item {
    float: right;
}

#main .user_container #user_content.us .user_setting_widget ul li a {
    float: right;
}

#main .user_container #user_content.us .user_setting_main .inputs .sessions .session {
    padding-right: 85px;
    padding-left: 20px;
}

#main .user_container #user_content.us .user_setting_main .inputs .sessions .session .icon {
    left: auto;
    right: 12px;
}

#main .user_container #user_content.us .user_setting_main .inputs .sessions .session .data {
    margin: 0;
}

#main .user_container #user_content.us .user_setting_main .inputs .sessions .session .data .close {
    left: 0;
    right: auto;
}

#main #user_nav .user_nav_wrapper {
    padding-left: 0;
    padding-right: 230px;
}

#main .user_container #user_content .acts .track .user_wrapper {
    padding-left: 0;
    padding-right: 70px;
}

#main .user_container #user_content .acts .track .user_wrapper .avatar {
    left: auto;
    right: 0;
}

#main .user_container #user_content .acts .track .user_wrapper .avatar.a2 {
    right: 16px;
    left: auto;
}

#main .user_container #user_content .acts .track .track_wrapper {
    padding-left: 20px;
    padding-right: 100px;
}

#main .user_container #user_content .acts .track .track_wrapper .cover {
    left: auto;
    right: 20px;
}

#main .user_container #user_content .acts .track .track_wrapper .stats {
    float: left;
}

#main .user_container #user_content .acts .track .track_wrapper .title {
    padding-right: 0;
    padding-left: 40px;
}

#main .user_container #user_content .playlists .playlist {
    padding-right: 160px;
    padding-left: 0;
}

#main .user_container #user_content .playlists .playlist .playlist_cover {
    right: 0;
    left: auto;
}

#main .user_container #user_content .playlists .playlist .head {
    padding-right: 70px;
    padding-left: 0;
}

#main .user_container #user_content .playlists .playlist .head .icon {
    right: 0;
    left: auto;
}

#main .user_container #user_content .playlists .playlist .head .times {
    right: auto;
    left: 0;
}



#main .user_container #user_content .playlists .playlist .tracks .track {
    padding: 10px 80px 10px 60px;
}

#main .user_container #user_content .playlists .playlist .tracks .track .cover {
    right: 20px;
    left: auto;
}

#main .user_container #user_content .playlists .playlist .tracks .track .data .icons {
    right: auto;
    left: 20px;
}

#main .user_container #user_content .playlists .playlist .tracks .track .data .icons .mdi {
    margin-left: 0;
    margin-right: 5px;
}

#main .user_container #user_content .playlists .playlist .tracks .track .data .i .buttons {
    right: 0;
    left: auto;
}

.button_more .dropdown-menu li {
	text-align: right;
}

.button_more .dropdown-menu li .mdi {
	margin-right: 0;
	margin-left: 5px;
}

#main #artist .side ul.artist_links li {
    direction: rtl;
}

body.uap #form_holder .form-group.form-check label {
    padding-right: 22px;
}

@media (min-width: 1370px){
#main .page_head.track.has_wave .data_wrapper {
    margin-left: 0px;
    margin-right: -270px
}
}


@media( max-width: 768px ){

body.rtl #sidebar {
    left: auto;
    right: -100%;
}

body.rtl.naved #sidebar {
    left: auto;
    right: 0;
}
body.rtl #sidebar .menu_handle {
    right: auto;
    left: -15px;
}
body.rtl #main .user_container #user_content .acts .track .track_wrapper {
    padding-left: 10px;
    padding-right: 80px;
}
body.rtl .edit .album .cover_wrapper .detail {
    right: 220px;
    left: auto;
}
body.rtl .edit .album .data_wrapper h2 {
    right: 220px;
    left: auto;
}
	
}

@media( max-width: 540px ){
	
body.rtl #sidebar {
	right: 0;
	left: 0;
}
body.rtl #nav .buttons.opp {
    left: 0;
    right: auto;
}

body.rtl #nav .buttons .button.lang ul {
    right: auto;
    left: 0;
}
body.rtl #sidebar ul.menu_wrapper li ul li a {
    text-align: right;
    padding-right: 50px;
    padding-left: 20px;
}
body.rtl div.search_open .button.search .mdi {
    right: auto;
    left: 3px;
}
body.rtl #main .play_buttons.buttons .button_more ul.dropdown-menu {
    right: auto;
    left: -90%;
}
	
	
}
